/* importing Poppins font from Google cdn */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* CSS Common for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(assets/imgs/bg2.jpg);
    background-size: cover;
    background-position: center;
}

html,
body {
    overflow-x: hidden;
}


/* CSS For Cards & It's Components */
.cards-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    position: relative;
    width: 350px;
    height: 450px;
}

.img-container {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 300px;
    height: 100%;
    border-radius: 25px;
    /* border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); */
    border: 2px solid rgba(0, 0, 0, 0.1);
    /* border-top: 2px solid rgba(0, 0, 0, 0.15);
    border-left: 2px solid rgba(0, 0, 0, 0.15); */
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    padding: 40px 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.title-container {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title-container h2 {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    color: #ffff;
    letter-spacing: 1px;
}

.img-container img {
    margin-top: 60px;
    width: 85%;
    transition: all 0.25s;
}

.img-container img:hover {
    cursor: pointer;
    transform: scale(1.15);
}


/* CSS for the colored circles */
.product-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.color-title-heading {
    color: #ffff;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.product-color li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 20px;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
    background: #ffff;
    color: #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.25s;
}

.color-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.product-color li:hover {
    transform: scale(1.1);
}

.product-color li:nth-child(1) {
    background: #FF605C;
    background: rgb(6, 7, 61);
}

.product-color li:nth-child(2) {
    background: #FFBD44;
    background: rgb(105, 50, 14);
}

.product-color li:nth-child(3) {
    background: #00CA4E;
    background: rgb(0, 0, 0);
}

.product-color li:nth-child(4) {
    background: rgb(255, 45, 85);
}


/* CSS for the Add To Cart Button */
.cart-button {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #000000;
    border-radius: 25px;
    color: #ffff;
    cursor: pointer;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.cart-icon {
    font-size: 1.5rem;
    transition: 0.25s;
}

.cart-button:hover .cart-icon {
    transform: translateX(5px);
}